$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #838ef0;
$nav-color: #dfdfdf;
$winner: #e8e4a9;
$cats-game: #91b6f0;
$unit: 20px;
$width: (4 * $unit);
$height: (4 * $unit);

body {
  background-color: $background-color;
  color: $font-color;
}


.board {
  display: inline-block;
  margin-left: 41%;
}

.square {
  border: 1px solid;
  box-sizing: border-box;
  font-size: 30px;
  height: 100px;
  padding: 10%;
  text-align: center;
  width: 100px;
}

//nav buttons
.btn {
  background-color: $nav-color;
  border: 0;
  border-radius: 0;
  float: right;
  margin: 0;

}

.navbar {
  background-color: $nav-color;
  border-radius: 0;
  margin-top: 0;
  min-height: 40px;
  width: 100%;
};

.logo {
  background-color: $nav-color;
  color: $font-color;
  font-size: 30px;
  height: 50px;
  margin: 3% 25%;
  text-align: center;
  width: 50%;
};

.win-msg-x {
  background: $background-color;
  box-sizing: border-box;
  color: $font-color;
  display: none;
  font-size: 50px;
  height: 65%;
  left: 0;
  margin-left: 25%;
  margin-top: 10%;
  padding: 8%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 100;
}

.win-msg-o {
  background: $background-color;
  box-sizing: border-box;
  color: $font-color;
  display: none;
  font-size: 50px;
  height: 65%;
  left: 0;
  margin-left: 25%;
  margin-top: 10%;
  padding: 8%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 100;
}

.draw-msg {
  background: $background-color;
  box-sizing: border-box;
  color: $font-color;
  display: none;
  font-size: 50px;
  height: 65%;
  left: 0;
  margin-left: 25%;
  margin-top: 10%;
  padding: 8%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 100;
}
