$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #838ef0;
$nav-color: #dfdfdf;
$unit: 20px;
$width: (4 * $unit);
$height: (4 * $unit);



body {
  background-color: $background-color;
  color: $font-color;
}


.board {
  margin: 0 25%;
  text-align: center;
  width: 50%;
}


.square {
  border: 1px solid;
  box-sizing: border-box;
//  height: 40%;
  padding: 14%;
  text-align: center;
//  width: 40%;
}

//nav buttons
.btn {
  background-color: $nav-color;
  border: 0;
  border-radius: 0;
  float: right;
  margin: 0;

}

.navbar {
  background-color: $nav-color;
  border-radius: 0;
  margin-top: 0;
  min-height: 40px;
  width: 100%;
};

.logo {
  background-color: $nav-color;
  color: $font-color;
  font-size: 30px;
  height: 50px;
  margin: 3% 25%;
  text-align: center;
  width: 50%;
};
